body {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background-color: aliceblue;
    margin: auto;
}

header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    font-size: larger;
    margin: 3% auto;
    text-decoration: underline;
}

#linkdiv {
    background-color: lightblue;
    margin-bottom: 10px;
    line-height: 0px;
}

#formdiv {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 2%;
    margin: 2%;
}

button {
    width: 100px;
}

#picdiv {
    display: flex;
    background-color: lightblue;
    margin-bottom: 8%;
    flex-wrap: wrap;
    align-content: stretch;
}

.box {
    max-width: 47%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    justify-content: center;
    margin: 10px;
}

img {
    width: 100%;
    height: auto;
}

p {
    text-decoration: none;
    color: black;
}